
* {
    /*所有标签内外边距清零*/
    margin: 0;
    padding: 0;
    /*盒子边框不撑大已设置值*/
    box-sizing: border-box;
    
    
}

em, 
i {
    /*写题里的文字不倾斜。*/
    font-style: normal
}

li {
    /*去掉li的小圆点。*/
    list-style: none
}

img {
    /*border: 0 照顾低版本浏览器。如果图片外面包含了链接，会有边框的问题。*/
    border: 0;
    /*取消图片底部有空白缝隙的问题。*/
    vertical-align: middle
}
/*取消文本的边框和标注*/
input {
    border: 0;
    outline: none;
}
/*取消按钮的边框*/
button,
input {
 cursor: pointer;
 border: 0;
 outline:none ;
}

a {
    /*取消链接的下划线。*/
    color: black;
    text-decoration: none
}



body {
    /*抗锯齿,让文字显示更加清晰。*/
    -webkit-font-smoothing: antialiased;
}



.clearfix {
  
    *zoom: 1
}


